@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #080808;
    color: #fff;
}

.container {
    padding: 0px 30px;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    list-style-type: none;
}


nav a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
} 

nav a:hover{
    color: #8427FA;
}

.imgLogo {
   text-align: center;
}

h1 {
    color: #8427FA;
    font-size: 40px;
    font-weight: 500;
    -webkit-background-clip: text;
    margin-top: 1px;
}

.imgDraw {
    display: flex;
    height: 600px;
    width: 600px;
    margin-left: 60px;
}

form {
    background-color: #141414;
    border-radius: 15px;
    padding: 80px;
    height: 400px;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    justify-content: center;
    margin-top: 2px;
}

form a {
    width: 340px;
    height: 70px;
    border-radius: 20px;
    margin-bottom: 20px;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    background-color: #272727;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

form a:hover {
    background-color: #8427FA;
}

form img {
    height: 50px;
    width: 50px;
    -webkit-background-clip: text;
}

p {
    margin-top: 1px;
    margin-bottom: 1px;
    font-size: 30px;
    -webkit-background-clip: text;    
}
