@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #080808;
    color: #fff;
}

.container {
    padding: 0px 30px;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    list-style-type: none;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
} 

a:hover{
    color: #8427FA;
}

.imgLogo {
   text-align: center;
}

.texto {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0px 1px;
    margin-bottom: 10px;
}

.imgDraw {
    display: flex;
    height: 375px;
    width: 375px;
    margin-right: 70px;
    align-items: center;
    justify-content: center;
    margin-top: 75px;
}

h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #8427FA;
    font-size: 30px;
}

.imgLingua {
    height: 100px;
    width: 100px;
    margin-right: 10px;
}

footer {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

footer a {
    margin: 20px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

footer img {
    height: 40px;
    width: 40px;
    margin-top: 50px;
    margin-bottom: 1px;
}

footer p {
    margin-top: 1px;
    margin-bottom: 1px;
}

footer p:hover {
    color: #8427FA;
}
